.navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}

.navigation__logo img {
	width: 60px;
	height: 60px;
}

.navigation__links ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	list-style: none;
}
.navigation__links ul li {
	display: inline-block;
	padding: 10px 12px;
}
.navigation__links select {
	background: none;
	border: none;
	width: 30px;
	font-size: 16px;
}

.navigation__links select option {
	background: #fff;
}

.navigation__links .link {
	font-weight: 600;
	padding: 10px 12px;
	cursor: pointer;
	text-transform: uppercase;
}

.navigation__links .link.active {
	color: #53d87b;
	border-bottom: 2px solid #53d87b;
}

.cart {
	position: relative;
}
.cart .badge {
	position: absolute;
	top: 0px;
	right: -10px;
	background: #1d1d1d;
	color: #fff;
	padding: 5px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
