.wrapper {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	transition: all 1s ease-in-out;
	background: rgba(57, 55, 72, 0.22);
	z-index: 9;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

a:visited {
	color: rgb(29, 29, 29);
}
